<!--Card-->
<div class="card">
    <!-- Thumbnail image -->
    <div class="card-thumbnail">
        <img src="<%= thumbnail %>">
        <!-- Price Container -->
        <div class="thumbnail-price">
            <p><%= price %></p>
        </div>
    </div>
    <!-- Card Info Container-->
    <div class="card-info">
        <h3><%= address %></h3>
        <p><%= city %></p>

        <!-- Property Info Container -->
        <div>
           <p><%= sqft %></p>
           <p><%= bedrooms %></p>
           <p><%= bathrooms %></p>
        </div>

        <button class="btn-small btn-primary">View</button>
    </div>
</div>